{{ define "main" }}

{{ partial "page-title" . }}

{{ partial "service.html" . }}

{{ partial "about.html" . }}

<!-- Insert NTDs content here -->

<section data-bs-version="5.1" class="content4 cid-sPgJ3OvHdr" id="content4-1c">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">
                    Preventive Chemotherapy</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients2 cid-sPgIfG9Tr0" id="clients2-1a">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/bilharzia1-280x210.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Schistosomiasis</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/img-1591-40-custom-0d2196c8cb60d3f218cd7597dc64f28eaec8f44d-280x197.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>River Blindness</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/trachoma-280x190.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Trachoma</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/ascariasis-1-280x187.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Ascariasis</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients2 cid-sPgIZXP6VY" id="clients2-1b">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/trichuris-trichiura-egg1-280x280.jpeg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Trichiuriasis</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/hookworm-280x210.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Hookworm</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content4 cid-sPgJFzdpnM" id="content4-1d">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">
                    Preventive Chemotherapy</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients2 cid-sPgJHScj89" id="clients2-1e">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/buruli-ulcer-280x233.jpeg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Buruli Ulcer</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/chagas-246x205.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Chagas Disease</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/brain-cysticercosis-280x164.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Cysticercosis</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/dengue-280x190.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Dengue Fever</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients2 cid-sPgJJz8Mbg" id="clients2-1g">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/guineworm-280x168.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Dracunculiasis</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/primary-yaws-280x155.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Yaws</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/scabies-272x185.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Scabies</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/rabies-280x187.jpeg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Rabies</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients2 cid-sPgJIPcOYf" id="clients2-1f">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/leishmaniasis-272x185.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Leishmaniasis</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/leprosy-280x158.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Leprosy</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="../../../../mobi_extr/assets/images/mycetoma-260x194.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-4">
                            <strong>Mycetoma</strong></h5>
                        
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

{{ partial "clients.html" . }}

<!--{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}-->

{{ end }}