{{ define "main" }}

  {{ partial "hero.html" . }}
  <!--section data-bs-version="5.1" class="header1 cid-s48MCQYojq" id="header1-f">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 135, 83);"></div>

    <div class="align-center container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1" style="font-size: 70px">COVID-19 &amp; NTDs</h1>
                
                <p class="mbr-text mbr-fonts-style display-7" style="font-size: 15px;">Read our latest NTDs/COVID-19 co-morbidity report</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-warning display-4" href="https://mobirise.com">Read</a></div>
            </div>
        </div>
    </div>
</section-->

  {{ partial "about-sm.html" . }}

  {{ partial "feature.html" . }}

  {{ partial "about.html" . }}

  {{ partial "workingprocess.html" . }}

  <!-- {{ partial "portfolio.html" . }} -->

  {{ partial "team.html" . }}

  {{ partial "pricing.html" . }}

  {{ partial "clients.html" . }}

  <!-- {{ partial "blog.html" . }}

  {{ partial "contact.html" . }} -->
{{ end }}